<!-- Блок "О компании" -->
<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-md-3 d-none d-sm-block">
            <img class="img-fluid" src="/include/mainpage/company/company.png" alt="О компании Теплый Дом" title="О компании Теплый Дом">
        </div>
        <div class="col-md-9">
            <h2 class="h4 mb-3">Интернет-магазин "Теплый Дом"</h2>
            <p>
                Предлагаем широкий выбор тепло-гидро-паро-ветро-звукоизоляции, а также сопутствующие материалы от ведущих производителей.
                Гибкие условия ценообразования и доставки для оптовых покупателей.
                Низкие цены, гарантированное качество, удобные варианты оплаты и доставки розничным покупателям.
            </p>
            <a href="https://utepliteli.org/company/" class="btn btn-outline-primary">Подробнее</a>
        </div>
    </div>
</div>
