<!-- Блок брендов с каруселью -->
<div class="my-5 pt-5">
    <h2 class="h5 mb-4">Популярные бренды</h2>

    <div id="brandsCarousel" class="carousel slide mb-4 d-none d-md-block" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-4 text-center brand-item"><a href="/info/brands/rockwool"><img class="brand-img"
                                                                                                      src="/images/brands/rockwool.png"
                                                                                                      alt="ROCKWOOL"></a>
                    </div>
                    <div class="col-md-4 text-center brand-item"><a href="/info/brands/tekhnonikol"><img
                                class="brand-img" src="/images/brands/tn.png" alt="ТЕХНОНИКОЛЬ"></a></div>
                    {#                    <div class="col-md-3 text-center brand-item"><a href="/info/brands/penopleks"><img class="brand-img" src="/images/brands/penoplex.png" alt="Пеноплэкс"></a></div> #}
                    <div class="col-md-4 text-center brand-item"><a href="/info/brands/knauf"><img class="brand-img"
                                                                                                   src="/images/brands/knauf.png"
                                                                                                   alt="Knauf"></a>
                    </div>

                </div>


            </div>
{#            <div class="carousel-item">#}
{#                <div class="row">#}
{#                    <div class="col-md-3 text-center brand-item"><a href="/info/brands/taleon/"><img class="brand-img" src="/images/brands/ultralam.png" alt="Талион"></a></div>#}
{#                    <div class="col-md-3 text-center brand-item"><a href="/info/brands/paroc/"><img class="brand-img" src="/images/brands/paroc.jpg" alt="Paroc"></a></div>#}
{#                    <div class="col-md-3 text-center brand-item"><a href="/info/brands/baumit/"><img class="brand-img" src="/images/brands/baumit.png" alt="Baumit"></a></div>#}

{#                    <div class="col-md-3 text-center brand-item"><a href="/info/brands/bitex/"><img class="brand-img" src="/images/brands/bitex.png" alt="BITEX"></a></div>#}
{#                    <div class="col-md-3 text-center brand-item"><a href="/info/brands/brane/"><img class="brand-img" src="/images/brands/brane.png" alt="Brane"></a></div>#}
{#                </div>#}
{#            </div>#}
        </div>
{#        <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">#}
{#            <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
{#            <span class="visually-hidden">Previous</span>#}
{#        </button>#}
{#        <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">#}
{#            <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
{#            <span class="visually-hidden">Next</span>#}
{#        </button>#}
    </div>

</div>


<!-- Блок "Бренды" -->
{#<div class="container my-5">#}
{#    <h2 class="h5 mb-4">Популярные бренды</h2>#}
{#    <div class="row g-3 text-center">#}
{#        <div class="col-6 col-sm-4 col-md-3 col-lg-2">#}
{#            <a href="/info/brands/rockwool/">#}
{#                <img class="img-fluid" src="/upload/iblock/bcf/bcf6d8130e7ec267bd816c00b5773284.png" alt="ROCKWOOL" title="ROCKWOOL">#}
{#            </a>#}
{#        </div>#}
{#        <div class="col-6 col-sm-4 col-md-3 col-lg-2">#}
{#            <a href="/info/brands/tekhnonikol/">#}
{#                <img class="img-fluid" src="/upload/iblock/52c/52ca86e56b3c2e945dba86a7aeef2edb.PNG" alt="ТЕХНОНИКОЛЬ" title="ТЕХНОНИКОЛЬ">#}
{#            </a>#}
{#        </div>#}
{#        <div class="col-6 col-sm-4 col-md-3 col-lg-2">#}
{#            <a href="/info/brands/bitex/">#}
{#                <img class="img-fluid" src="/upload/iblock/dab/dab0ed5d4f8455584d1e156cb080d14f.png" alt="BITEX" title="BITEX">#}
{#            </a>#}
{#        </div>#}
{#        <div class="col-6 col-sm-4 col-md-3 col-lg-2">#}
{#            <a href="/info/brands/brane/">#}
{#                <img class="img-fluid" src="/upload/iblock/b7c/b7c34243f1bbe4bc9b6b58fb7c52cd86.png" alt="Brane" title="Brane">#}
{#            </a>#}
{#        </div>#}
{#        <div class="col-6 col-sm-4 col-md-3 col-lg-2">#}
{#            <a href="/info/brands/taleon/">#}
{#                <img class="img-fluid" src="/upload/iblock/860/860556e7f9e1b7768851f5c2ed95b992.png" alt="Талион" title="Талион">#}
{#            </a>#}
{#        </div>#}
{#        <div class="col-6 col-sm-4 col-md-3 col-lg-2">#}
{#            <a href="/info/brands/paroc/">#}
{#                <img class="img-fluid" src="/upload/iblock/211/211ab54a4aead8bc61b7f8b9af5650b3.jpg" alt="Paroc" title="Paroc">#}
{#            </a>#}
{#        </div>#}
{#        <div class="col-6 col-sm-4 col-md-3 col-lg-2">#}
{#            <a href="/info/brands/baumit/">#}
{#                <img class="img-fluid" src="/upload/iblock/076/0762a578cfd02e9ee1b7bfb0ef41ca4b.PNG" alt="Baumit" title="Baumit">#}
{#            </a>#}
{#        </div>#}
{#        <div class="col-6 col-sm-4 col-md-3 col-lg-2">#}
{#            <a href="/info/brands/penopleks/">#}
{#                <img class="img-fluid" src="/upload/iblock/ffd/ffd45427288d2c45154f916a9869f2ef.PNG" alt="Пеноплэкс" title="Пеноплэкс">#}
{#            </a>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
