<!-- Слайдер -->
<div id="mainCarousel" class="carousel slide mb-4 d-none d-md-block" data-bs-ride="carousel">
    <div class="carousel-inner">

        <div class="carousel-item slide-2 active d-flex align-items-end justify-content-end">
            <img src="/upload/iblock/d0e/d0e21cbea7f22a4fdeaa27fb83061201.PNG" class="d-block" alt="Slide 2">
            <div class="carousel-caption d-none d-md-block text-dark">

                <h3>Техническая и строительная изоляция</h3>
                <p>Официальный дистрибьютор ведущих производителей</p>
                <a href="/catalog/" class="btn btn-danger btn-dark">Узнать подробнее</a>

            </div>

        </div>
        <div class="carousel-item ">
            <img src="/upload/iblock/d2b/d2b73e5e5861fd046d22efcbdeb04048.png" class="d-block" alt="Slide 1">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
