<!-- Тизеры -->
<div class="row text-center mb-5">
    <div class="col-md-3 col-6">
        <img src="/upload/iblock/94c/94c2fcfc31ee5dec14fea67d7fe79d75.png" class="img-fluid mb-2" alt="20 лет">
        <div>Более 25 лет на рынке строительных материалов</div>
    </div>
    <div class="col-md-3 col-6">
        <img src="/upload/iblock/c3a/c3ad1714297efb67514653813faad2a5.png" class="img-fluid mb-2" alt="Дилер">
        <div>Официальный дилер ведущих производителей</div>
    </div>
    <div class="col-md-3 col-6">
        <img src="/upload/iblock/d7b/d7b9f6836935ba178c0d683f4399fc4c.png" class="img-fluid mb-2" alt="Качество">
        <div>Гарантия качества. Весь товар сертифицирован</div>
    </div>
    <div class="col-md-3 col-6">
        <img src="/upload/iblock/51b/51bb6cea5176335e14788c305dcebcc0.png" class="img-fluid mb-2" alt="Доставка">
        <div>Удобная и быстрая доставка</div>
    </div>
</div>
