{{ include('menu.html.twig') }}
<div class="accordion accordion-flush" id="catalogMenu">
    {% for item in menu %}
        {{ include('menu_item.html.twig', { item: item }) }}
    {% endfor %}
</div>
