<!-- Подписка -->
<div class="bg-light p-0 pt-5 rounded mb-5 mt-0">
    <h4>Будьте всегда в курсе!</h4>
    <p>Узнавайте о скидках и акциях первым</p>
    <form action="/personal/subscribe/" class="row g-2">
        <div class="col-md-12">
            <input type="email" class="form-control" name="sf_EMAIL" placeholder="Ваш e-mail" required>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-danger w-100">Подписаться</button>
        </div>
    </form>
</div>
